@import '../../global.scss';

.social-login {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        #img--google {
            margin-right: 12px;
        }
    }

  }

  .button--google {
        width: 100%;
        max-width: 270px;
        box-sizing: border-box;
        background-color: #efefef;
        color: #232323;
        font-weight: 400;
        


      &:hover {
        background-color: #E0E0E0;
      }

      &:focus {
        background-color: #D2D2D2;
      }

      
  }

  .button--apple {
    background-color: #0e0e0e;
    color: $white-color;

    width: 100%;
    max-width: 52px;
    font-weight: 500;

    &:hover {
        background-color: #232323;
      }
    &:focus {
        background-color: #010101;
      }
  }

  .button--facebook {
    background-color: #1877F2;
    color: $white-color;
    width: 100%;
    max-width: 52px;
    font-weight: 500;


    &:hover {
        background-color: #4692F5;
      }

    &:focus {
        background-color: #135FC2;
      }
  }