@import '../../global.scss';
.page {
    display: flex;
    flex-direction: row;
    gap: 108px;
    background: $white-color;
    margin: 56px;
    justify-content: center;
}

.page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 614px;
}

.form__section {
    display: flex;
    border-radius: 18px;
    border: 1px solid #E0E0E0;
    padding: 32px;
    gap: 32px;
    width: 448px;
    
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.button--dark {
    background-color: $black-color;
    color: $white-color;
    border-radius: 12px;
    padding: 14px;
    cursor: pointer;
    transition: backgrground-color 0.3s ease;

    &:hover {
        background-color: #333;
    }
}

.logo {
    max-width: 248px;
    height: 88px;
}

.aside_img {
    max-width: 614px;
    margin-top: 40px;
}

p.text {
    color: $black-color;
    text-align: center;
    padding: 12px 20px 0 20px;
    line-height: 28px;
    font-size: 20px;
}

.title {
    color: $black-color;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.text--small {
    color: $black-color;
    font-weight: 500;
    font-size: 16px;
}

.link {
    text-decoration: none;
    color: #1877F2;

}


.field {

 
    label {
        display: block;
        margin-bottom: 12px;
        color: $black-color;
        font-weight: 500;
        font-size: 16px;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #E0E0E0;
        border-radius: 12px;
        padding: 14px 16px 14px 16px;
        color: #E0E0E0;
        font-size: 16px;
    }
}

}