@import '../../global.scss';


.page--sign-in {
    display: flex;
    flex-direction: row;
    gap: 108px;
    background: $white-color;
    margin: auto;
    justify-content: center;

    align-items: center;
    height: 100vh;
}

.page__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 614px;
  }
  
  .form__section {
    display: flex;
    border-radius: 18px;
    border: 1px solid #e0e0e0;
    padding: 32px;
    gap: 0px;
    width: 448px;
        
  }

  .form__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }


  .text--small {
    font-size: 14px;
    text-align: center;
  }

  .text__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 20px;
  }

.text--light {
    color: #C3C3C3;
    font-size: 15px;
    text-align: center;
}

.privacy-policy {
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
        color: #c3c3c3;
        line-height: 20px;
    }
}

.link--privacy-policy {
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 500;
}