@font-face {
  font-family: 'KyivTypeSans';
  src: url('./fonts/kyivtypesans/OTF/KyivTypeSans-Black2.otf') format('opentype');
  src: url('./fonts/kyivtypesans/KyivTypeSans-VarGX.ttf') format('truetype');
}


$black-color: #000;
$white-color: #fff;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "KyivTypeSans", sans-serif;
}



.button {
border-radius: 12px;
padding: 14px;
cursor: pointer;
}

.button--dark {
background-color: #0E0E0E;
color: $white-color;
transition: backgrground-color 0.3s ease;

&:hover {
    background-color: #232323;
}

&:focus {
  background-color: #010101;
}

&:disabled {
  background-color: #A2A2A2;
}
}

.logo {
max-width: 248px;
height: 88px;
}

.aside_img {
max-width: 614px;
margin-top: 40px;
}

p.text {
color: $black-color;
text-align: center;
padding: 12px 20px 0 20px;
line-height: 28px;
font-size: 20px;
}

.title {
color: $black-color;
font-weight: bold;
font-size: 24px;
line-height: 32px;
text-align: center;
}

// .text--small {
//   color: $black-color;
//   font-weight: 500;
//   font-size: 16px;
// }

.link {
text-decoration: none;
color: #1877F2;
font-weight: 500;

&:hover {
  color: #4692F5;
  font-weight: 400;
}

&:focus {
  color: #135FC2;
  font-weight: 600;
}

&:disabled {
  color: #A3C9FA;
  font-weight: 200;
}

// &:visited {
//   color: #3556eb;
// }

}


.field {


label {
    display: block;
    margin-bottom: 12px;
    color: $black-color;
    font-weight: 500;
    font-size: 16px;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 14px 16px 14px 16px;
    color: #E0E0E0;
    font-size: 16px;

    &:focus {
      color: #404040;
      border: 2px solid #404040;
    }

    &::placeholder {
        color: #d2d2d2;
    }
}
}