@font-face {
  font-family: 'KyivTypeSans';
  src: url('./fonts/kyivtypesans/OTF/KyivTypeSans-Black2.otf') format('opentype');
  src: url('./fonts/kyivtypesans/KyivTypeSans-VarGX.ttf') format('truetype');
  
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}


$black-color: #000;
$white-color: #fff;

$dark-background: #1E1E1E;
$theme--dark__text-color: #FAFAFA;
$theme--dark__button-background-color: #FAFAFA;
$dark-button-text: #232323;
$theme--dark-google-button-background: #EFEFEF;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "KyivTypeSans", sans-serif;
}

body.dark-theme {
  background-color: $dark-background;
  color: $theme--dark__text-color;
}

.button {
border-radius: 12px;
padding: 14px;
cursor: pointer;
}

.button--dark {
background-color: #0E0E0E;
color: $white-color;
transition: backgrground-color 0.3s ease;

&:hover {
    background-color: #232323;
}

&:focus {
  background-color: #010101;
}

&:disabled {
  background-color: #A2A2A2;
}
}

body.dark-theme .button--dark {
  background-color: $theme--dark__button-background-color;
  color: $dark-button-text;

  &:hover {
    background-color: #E0E0E0;
  }

  &:focus {
    background-color: #BFBFBF;
  }
  &:disabled {
    background-color: #404040;
  }
}

.logo {
max-width: 248px;
height: 88px;
}

.aside_img {
max-width: 614px;
margin-top: 40px;
}

p.text {
color: $black-color;
text-align: center;
padding: 12px 20px 0 20px;
line-height: 28px;
font-size: 20px;
}

body.dark-theme p.text {
  color: $theme--dark__text-color;
}

.title {
color: $black-color;
font-weight: bold;
font-size: 24px;
line-height: 32px;
text-align: center;
}

body.dark-theme .title {
  color: $theme--dark__text-color;
}

.link {
text-decoration: none;
color: #1877F2;
font-weight: 500;

&:hover {
  color: #4692F5;
  font-weight: 400;
}

&:focus {
  color: #135FC2;
  font-weight: 600;
}

&:disabled {
  color: #A3C9FA;
  font-weight: 200;
}
}


.field {

label {
    display: block;
    margin-bottom: 12px;
    color: $black-color;
    font-weight: 500;
    font-size: 16px;
}

body.dark-theme label {
  color: $theme--dark__text-color;
}

input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 14px 16px 14px 16px;
    color: #BFBFBF;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

    &:focus {
      color: #404040;
      border: 2px solid #404040;
    }

    &::placeholder {
        color: #d2d2d2;
    }
}
}