@font-face {
    font-family: 'KyivTypeSans';
    src: url('./fonts/kyivtypesans/OTF/KyivTypeSans-Black2.otf') format('opentype');
    src: url('./fonts/kyivtypesans/KyivTypeSans-VarGX.ttf') format('truetype');
  }

  $black-color: #000;
  $white-color: #fff;
  body {
    font-family: "KyivTypeSans", sans-serif;
  }