
.field {
    position: relative;
  }
  
  .field__icon {
      display: block;
      background-size: cover;
    }
    
    .field__icon.down {
      height: 16px;
      width: 16px;
      background-image: url("../../../public/svg/arrow-down.svg");
    }
    
    .field__icon,
    .field__icon.down {
      pointer-events: none;
      right: 15px;
      transform: translateY(24%); 
      margin-top: -35px;
      cursor: pointer;
      z-index: 200;
      position: absolute;
    }
  
    .form__container .input--error {
      background-color: #FDE6E6;
      border: 2px solid #EC0000;
    
  
      &:focus {
        background-color: #FDE6E6;
        border: 2px solid #EC0000;
      }
    }

    .field__input {
      border: solid 2px #E0E0E0;
      border-radius: 12px;
      max-width: 384px;
      max-height: 52px;
      height: 100%;
      padding: 14px 16px;
      color: #BFBFBF;
      appearance: none;
    }
  
    .input--no-error {
      background-color: inherit;
      border: inherit;
    }

    .blocks {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .block__error {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin: 8px 8px 8px 0;
    }
  
  
  
    .form__error {
      color: #EC0000;
      font-size: 14px;
      margin-top: 8px;
    }
  
    .form__error::before {
      margin-right: 4px;
    }
  
    .icon-error {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  
